input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	background-color: $color__background-input;
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 2px;
	padding: 5px 9px;
	margin: 5px 0px 20px;
	font-family: $font__Roboto;
	@include fontSize(15px);
	line-height: 1.2;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}
