.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	p {
		margin-bottom: 0 !important;
	}
}

.wp-caption-text {
	text-align: left;
	padding-left: 25px;
	padding-right: 25px;
	margin: 0.5rem 0 0 !important;
	@include fontSize(14px);
}
