/*==================================
=            Shortcodes            =
==================================*/
/*----------  Full Width Content  ----------*/
.fullWidthFeatureContent {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	text-align: center;

	.fullWidthInner {
		margin: 0 auto;

		// On small screens, we always want to override the inline styles and set a max width of less than the full width.
		&[style] {
			@media screen and (max-width: $breakpoint-medium) {
				max-width: 90% !important;
			}
		}
	}

	.overlay-isActive & {
		position: static;
	}

	@include breakpoint("medium") {
		.sharing-shareBtns.isVisible {
			max-width: $size__content-max-width;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

/*----------  ChinaPower Image  ----------*/
.img-cpp {
	max-width:15px;
	height: auto;
	display: inline-block;
}

/*----------  View-post Box  ----------*/
.view-post {
	width: 100%;
	background-color: $off-white;
	border-top: $blue 3px solid;
	padding: 1.5rem;
	margin: 1rem auto;

	@include breakpoint("medium") {
		width: 33%;
		float: right;
		margin: 1rem 0 1rem 1.25rem;
	}

	.view-post-verb {
		color: $blue;
		font-weight: bold;
		margin-right: auto;
		display: block;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	.view-post-title {
		color: $black;
		font-size: 1.25rem;
	}
}

.podcast-services-badge {
	margin-right: 5px;

	img {
		height: 40px;
	}
}

