/*=======================================
=            Post Navigation            =
=======================================*/

.post-nav {
	background-color: $off-white;
	padding: 0.5rem 0;
	z-index: 50;
	left: 0;
	right: 0;

	.post-nav-menu {
		text-align: right;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				display: inline-block;
				margin: 0;
				font-family: $font__Roboto;
				@include fontSize(13px);
				line-height: 1.69;
				letter-spacing: 0.7px;
				text-transform: uppercase;

				a {
					color: $dark-gray;
					cursor: pointer;

					&.active {
						color: $red;
					}
				}

				& + li::before {
					content: " | ";
					margin: 0 0.5rem;
					color: $light-gray;
				}
			}
		}
	}

	.post-nav-content {
		.post-nav-title {
			display: none;
			font-family: $font__Hind;
			@include fontSize(16px);
			line-height: 1.81;
			color: $dark-gray;
		}

		.post-share-buttons {
			display: none;
		}

		.post-nav-jumpto {
			display: none;

			.post-title {
				font-family: $font__Hind;
				@include fontSize(20px);
				font-weight: 500;
				line-height: 0.08;
				color: $black;
			}

			.post-nav-toTop a {
				font-family: $font__Roboto;
				@include fontSize(11px);
				text-transform: uppercase;
				line-height: 2.64;
				letter-spacing: 0.7px;
				color: $blue;
				margin-left: 0.25rem;
			}

			.post-nav-toc {
				list-style-type: none;
				border-left: 1px solid $light-gray;
				padding-left: 10px;
				margin: 0.75rem 0;

				li {
					font-family: $font__Hind;
					@include fontSize(16px);
					line-height: 1.4;

					a {
						color: $off-black;
						transition: none;

						&:hover {
							color: $red;
						}

						&.active {
							font-weight: 600;

							&:before {
								content: "\2192";
								color: $red;
								margin-right: 0.2rem;
							}
						}
					}
				}
			}
		}

		.active {
			display: block;
		}
	}
}

