table {
	margin: 0 0 1.5em;
	width: 100%;

	thead {
		background-color: $blue;
		color: $white;
		font-family: $font__Roboto;
		@include fontSize(17px);
		text-align: left;
		font-weight: normal;
	}

	th, td {
		padding: 0.5em;
	}
}