/*==============================
=            Colors            =
==============================*/
$black: #000;
$white: #fff;
$red: #ed392a;
$light-blue: #bfccd2;
$blue: #728c99;
$dark-blue: #455a64;
$off-white: #f1f1f1;
$light-gray: #d4d0cb;
$blue-gray: #abb1b4;
$gray: #8c898c;
$dark-gray: #4a4a4a;


$color__background-body: $white;
$color__background-screen: $white;
$color__background-hr: $light-gray;
$color__navigation-border: #dfdfdf;
$color__background-button: $off-white;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: $dark-gray;
$color__text-input: $dark-gray;
$color__text-input-focus: #111;
$color__link: $red;
$color__link-visited: $red;
$color__link-hover: $red;
$color__text-main: $dark-gray;
$color__text-copyright: #8c898c;

$color__border-input: #ccc;
$color__border-abbr: #666;

/*==================================
=            Typography            =
==================================*/
@import url('https://fonts.googleapis.com/css?family=Hind:400,500,600|Roboto:400,700');

$font__SourceSans: "source-sans-pro",sans-serif;
$font__ExpoSerif: "expo-serif-pro",serif;

$font__Roboto: 'Roboto', sans-serif;
$font__Hind: 'Hind', sans-serif;


$font__main: $font__Hind;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;



/*=================================
=            Structure            =
=================================*/

$size__container-max-width: 900px;
$size__content-max-width: 700px;
$size__site-main: 100%;
$size__site-sidebar: 25%;
