/*==============================
=            Footer            =
==============================*/

footer.site-footer {
	margin-top: 3rem;
	border-top: 2px solid $light-gray;
	padding-top: 3rem;

	.footer-logoContainer {
		margin-bottom: 0.5rem;

		@include breakpoint("medium") {
			img {
				max-width: 45%;
			}
		}
	}

	.footer-infoContainer p {
		max-width: 90%;
		margin-top: 0;
		@include fontSize(14px);
	}

	.footer-contactInfo {
		@include fontSize(14px);
		
		h3 {
			margin: 0;
			text-transform: uppercase;
			font-weight: bold;
			@include fontSize(14px);
		}

		address {
			font-style: normal;
			margin: 0;
			@include fontSize(14px);
		}

		a {
			color: $dark-gray;

			&:hover {
				color: $red;
			}
		}

		i.icon {
			@include fontSize(16px);
		}

	}
	.footer-copyright {
		margin-top: 3rem;
		background-color: $light-gray;
		padding: 0.5rem;
		color: $color__text-copyright;
		@include fontSize(12px);
	}
}
