/*==============================
=            Header            =
==============================*/

header.site-header {
	width: 100%;
	background-color: $blue;
	padding-top: 1rem;

	.site-branding {
		padding: 0;
		text-align: center;

		a {
			color: $white;
		}
	}

	/*----------  Navigation: Main Menu  ----------*/
	.main-navigationContainer {
		align-self: flex-end;
	
		nav.main-navigation {
			padding-top: 1rem;
			padding-bottom: 0;

			ul#primary-menu {
				display: block;
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					text-align: center;
					@include fontSize(16px);
					margin-bottom: 0;
					padding-bottom: 1rem;

					// Apply styles to all list items at medium breakpoint
					@include breakpoint("medium") {
						text-align: left !important;
						margin-right: 5% !important;
						display: inline-block !important;
						width: auto !important;
						border: 0 !important;
						top: 0 !important;
						@include fontSize(17px);
					}

					a {
						font-weight: 600;
						text-decoration: none;
						color: $dark-gray;
						text-transform: uppercase;
						letter-spacing: 0.04em;

						&:hover {
							color: $red;
						}
					}

					&:hover > ul.sub-menu {
						display: block;
					}

					// Sub-menus
					ul.sub-menu {
						display: none;
						position: absolute;
						left: 0;
						right: 0;
						background-color: $off-white;
						height: 50px;
						margin-left: 0;

						li {
							display: inline-block;
						}
					}
				}
			}
		}
	}

	/*----------  Mobile Menu Styles  ----------*/
	&.menu-mobile-active {
		height: 100vh;
	}

	.close-icon {
		display: none;
	}

	/*----------  Navigation: Social Media  ----------*/
	.nav-social {
		padding: 1rem 0;
		text-align: center;

		@include breakpoint("medium") {
			text-align: right;
			padding: 0;
		}

		a {
			color: $dark-gray;

			&:hover {
				color: $red;
			}
		}

		i.icon {
			@include fontSize(32px);
			margin: 0 1rem;

			@include breakpoint("medium") {
				@include fontSize(16px);
				margin: initial;
			}
		}
	}

	/*----------  Search Form  ----------*/
	.header-searchFormContainer {
		background-color: $black;
		padding: 1rem 0.5rem;
		position: relative;
		z-index: 10;
		display: none;
		margin-top: 1rem;

		@include breakpoint("medium") {
			top: -42px;
			padding: 0.3rem 0.5rem 0.6rem;
			margin-top: 0;
		}

		.header-searchForm {

			.header-searchInputContainer {
				padding: 0;
			}

			.search-form {
				border-bottom: 1px solid $gray;
			}

			.search-field {
				width: 94%;
				border-radius: 0;
				background-color: transparent;
				border: 0;
				color: $gray;
				text-transform: uppercase;
				@include fontSize(14px);
				line-height: 1;
				-webkit-appearance: textfield;

				&:focus {
					box-shadow: none;
					outline: none;
					color: $light-gray;
				}
			}

			.search-submit {
				width: 4%;
				border: 0;
				background-color: transparent;
				border-radius: 0;
				color: $light-gray;
				padding: 0;
				@include fontSize(14px);
				line-height: 1;
				font-family: "fontello";
				margin: 0;
				text-align: right;
			}

			.search-closeContainer {
				text-align: right;
				padding: 0;

				.close-icon {
					display: inline-block;
					width: 15px;
					height: 15px;
					top: 3px;

					&::before, &::after {
						background-color: $light-gray;
					}
				}
			}
		}
	}
}

