/*================================
=            Archives            =
================================*/

.archive {
	background-color: $off-white;

	header.page-header {
		margin-top: 2rem;
		margin-bottom: 2rem;

		.page-title {
			@extend %page-title;
			margin: 0 0 1rem 0;
		}

		.archive-description {
			@include breakpoint("medium") {
				-moz-column-count: 2;
	  			-webkit-column-count: 2;
	  			column-count: 2;
	  		}
		}
	}

	/*----------  Posts, Podcasts  ----------*/
	article.post, article.podcasts {
		position: relative;
		margin-bottom: 2rem;
		background-color: $white;

		.sticky-container {
			padding-left: 0;
			padding-right: 0;

			.entry-header {
				@include breakpoint("medium") {
					padding-bottom: 0.5rem;
				}

				.isFeatured {
					display: inline-block;
					background-color: $red;
					font-family: $font__Roboto;
					@include fontSize(13px);
					line-height: 1.69;
					font-weight: bold;
					letter-spacing: 0.9px;
					color: $white;
					text-transform: uppercase;
					padding: 4px 8px;
					margin-right: 5px;
				}

				.cat-links {
					display: inline-block;
				}

				.entry-title {
					margin-top: 1rem;
				}
			}

			.entry-content {
				@include breakpoint("medium") {
					padding: 0 1rem 1rem 1rem;
				}
			}
		}

		/*----------  Learn More  ----------*/
		.learnMore {
			display: none;
			position: absolute;
			bottom: 0.5rem;
			right: 2rem;

			p {
				margin-bottom: 0;
				text-align: right;
				@include fontSize(18px);
				font-weight: 600;
				line-height: 1.33;
				letter-spacing: 1.1px;
				text-transform: uppercase;

				a {
					color: $black;

					&:hover {
						color: $red;
					}
				}

				.icon {
					margin-left: 0;
					vertical-align: top;
					color: $red;
				}
			}
		}

		&:hover > .learnMore {
			display: block;
		}
	}

	/*----------  Pagination  ----------*/
	.pagination {
		span:not(.current), a {
			background-color: $white;

			&:hover {
				background-color: $color__background-button-gray;
			}
		}

		.next:before {
			border-left-color: $white;
		}
		.next:hover:before {
			border-left-color: $color__background-button-gray;
		}
		.prev:before {
			border-right-color: $white;
		}
		.prev:hover:before {
			border-right-color: $color__background-button-gray;
		}
	}

	/*----------  Podcast Archive  ----------*/
	.archive-control-area {
		margin-bottom: 2rem;
	}

	.podcast-desc {
		@include breakpoint("medium") {
			padding-right: 2rem;
		}
	}

	.podcast-host {
		@include breakpoint("medium") {
			padding-left: 2rem;
		}

		strong {
			color: $red;
			text-transform: uppercase;
			@include fontSize(18px);
			line-height: 1.71;
		}
		.podcast-host-pos {
			color: $gray;
			@include fontSize(14px);
			line-height: 1.5;
		}
	}

	article.podcasts {

		.sticky-container .entry-header,
		.sticky-container .entry-content {
			@include breakpoint("medium") {
				padding-right: 2rem;
				padding-left: 1rem;
			}
		}

		.entry-thumbnail {
			text-align: center;
			padding: 2rem 0;
		}

		.entry-header {
			@include breakpoint("medium") {
				padding: 2rem 1rem 2rem 2rem;
			}
		}

		.entry-content {
			@include breakpoint("medium") {
				padding: 2rem 2rem 2rem 1rem;
			}
		}

		.soundcloud-mini-container {
			background-color: $off-white;
			padding: 0.5rem;

			iframe {
				vertical-align: middle;
			}
		}
	}
}