/*=======================================
=            Data Repository            =
=======================================*/

/*----------  Archive/Data Repo Listing  ----------*/

.post-type-archive-data {

	.page-header {
		.page-title {
			text-transform: uppercase;
		}

		@include breakpoint("medium") {
			p {
				-moz-column-count: 2;
				-webkit-column-count: 2;
				column-count: 2;
			}
		}
	}

	.data-container {
		background-color: $white;
		padding: 2rem 0;

		.filterControls {
			margin-bottom: 3rem;

			.col-xs-12 {
				margin-bottom: 1rem;
			}

			.sortTitle {
				font-weight: 600;
				line-height: 1.81;
				text-transform: uppercase;
			}

			.btn {
				margin: 0;

				&.active {
					background-color: $red;
					color: $white;
				}
			}

			.filter-view {
				@include breakpoint("medium") {
					text-align: center;
				}

				.icon {
					color: $light-red;
					@include fontSize(25px);

					&:before {
						margin-left: 0.1rem;
						margin-right: 0.1rem;
						vertical-align: middle;
					}

					&.active {
						color: $red;
						pointer-events: none;

						&:hover {cursor: default;}
					}

					&:hover {
						cursor: pointer;
						color: $red;
					}
				}
			}

			.filter-search {
				display: flex;

				label {
					align-self: flex-end;
				}

				.icon {
					color: $red;
				}

				input {
					flex: 2;
					border: 0;
					border-bottom: 1px solid $gray;
					border-radius: 0;
					padding: 0;
					margin-left: 0.3rem;
				}
			}
		}

		#dataRepo {
			width: 100% !important;
		}

		// Card Layout
		#dataRepo.cards {
			max-width: $size__content-max-width;

			.cardCol{
				width: 100%;
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 2rem;
				border: 0;

				.entry-title {
					@extend %post-title;
				}

				.data-links {text-align: right;}

				hr {
					background-color: $blue;
					margin: 0.5rem auto;
				}

				.dataSource-viewLink {display: none;}
			}
		}

		// Card View
		#dataRepo.cards td:not(.cardCol),
		#dataRepo.cards th {
			display: none;
		}

		// Table View
		#dataRepo.striped td,
		#dataRepo.striped th {
			display: table-cell;

			&.cardCol {display: none;}
		}

		.dataTables_wrapper {
			.dataTables_filter {display: none;}

			.dataTables_paginate {
				@extend .pagination;
				margin-top: 2rem;

				span {
					padding: 0;
					background-color: transparent;
				}
			}
		}

		.cat-links {
			display: inline;
			margin-bottom: 0;
			text-transform: none;
			@include fontSize(16px);
		}

		.btn-view {
			@include fontSize(11px);
			line-height: 2.64;
			letter-spacing: 0.7px;
			background-color: $color__background-btn-view;
			color: $black;
			margin-top: 0;
			margin-bottom: 0;

			&:hover {
				background-color: $color__background-btn-view-hover;
			}

			&:first-of-type {
				margin-right: 5px;
			}

			.icon-external-link {
				@include fontSize(9px);
			}
		}
	}
}

/*----------  Featured Stat Component  ----------*/
.data-featuredStatBlock {
	background-color: $off-white;
	padding: 0.5rem;
	margin: 1rem auto;

	p {margin-bottom: 0;}

	.dataSource-viewLink {
		@extend %dataSource-viewLink;
	}

	.sharing-inline {
		margin: 0;
		text-align: right;
	}
}

/*----------  Data Single  ----------*/
.single-data {
	.site-main {
		padding-top: 2rem;
		
		.entry-title {
			@extend %post-title;
		}

		.data-links {text-align: right;}

		.dataSource-viewLink {display: none;}

		.cat-links {
			display: inline;
			margin-bottom: 0;
			text-transform: none;
			@include fontSize(16px);
		}

		.btn-view {
			@include fontSize(11px);
			line-height: 2.64;
			letter-spacing: 0.7px;
			background-color: $color__background-btn-view;
			color: $black;
			margin-top: 0;
			margin-bottom: 0;

			&:hover {
				background-color: $color__background-btn-view-hover;
			}

			&:first-of-type {
				margin-right: 5px;
			}

			.icon-external-link {
				@include fontSize(9px);
			}
		}		
	}
}