/*=============================
=            Posts            =
=============================*/

/*----------  Single Post Styles  ----------*/
.single-post article.post {

	/*----------  Post Header  ----------*/
	.entry-header {
		padding: 0;

		.featureImg {
			@extend %post-featureImg;

			.entry-title { 
				@extend %post-featureImgTitle;
				padding: 0 1rem;

				@include breakpoint("medium") {
					padding: 0;
				}
			}
		}
	}

	/*----------  Post Content  ----------*/
	.entry-content {
		padding: 0 1rem;
		margin-top: 2rem;

		@include breakpoint("medium") {
			padding: 0;
		}

		/*----------  Full Width Content  ----------*/
		.fullWidthFeatureContent {
			width: 100vw;
			position: relative;
			left: 50%;
			right: 50%;
			margin-left: -50vw;
			margin-right: -50vw;
			text-align: center;

			.fullWidthInner {
				margin: 0 auto;  
				@include breakpoint("small") {
					max-width: 95% !important;
				}
			}

			.overlay-isActive & {
				position: static;
			}

			@include breakpoint("medium") {
				.sharing-shareBtns.isVisible {
					max-width: $size__content-max-width;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}

		/*----------  Interactives  ----------*/
		.interactive-heading {
			visibility: hidden;
			height: 1px;
		}

		/*----------  Watch  ----------*/
		.watch-interview {
			display: inline-block;

			a {
				@extend %dataSource-viewLink;

				.icon {
					color: $blue-gray;
					opacity: 0.75;
					@include fontSize(9px);
					margin-left: -5px;
				}

				&:hover {
					color: $dark-blue;

					.icon {
						color: $dark-blue;
						@include transition(all .3s ease-in-out);
					}
				}
			}
		}

		/*----------  Interviews  ----------*/
		.expert-container p.topexpert { margin-bottom: 0; }
		.expert-bio { @include fontSize(14px); }
		.topexpert {
			font-weight: bold;

			&.green {color: $secondary-green;}
			&.blue {color: $secondary-blue;}
			&.purple {color: $secondary-purple;}
		}

		/*----------  Info Box  ----------*/
		.info-container {
			background-color: $off-white;
			margin: 2rem auto;
			padding: 1rem;

			.icon-info {
				@include fontSize(24px);
				color: $red;
			}
		}

		/*----------  Explore Box  ----------*/
		.explore-container {
			background-color: $off-white;
			margin: 2rem auto;
			position: relative;

			.explore-img {
				padding: 0;

				a {
					display: block;
					line-height: 0;
					height: 100%;
					text-align: center;

					img {
						object-fit: cover;
						height: 100%;
					}
				}
			}

			.explore-text {
				padding: 0.75rem;
				@include fontSize(16px);
			}

			/*----------  Explore More  ----------*/
			.exploreMore {
				position: absolute;
			    bottom: 1rem;
			    right: 2rem;
			    opacity: 0;
			    @include transition(all .25s ease-in-out);
			    padding-right: 50px;

				p {
					margin-bottom: 0;
					text-align: right;
					@include fontSize(14px);
					font-weight: 600;
					line-height: 1.33;
					letter-spacing: 1.1px;
					text-transform: uppercase;

					a {
						color: $black;
						box-shadow: none;

						&:hover {
							color: $red;
						}
					}

					.icon-arrow-long {
						position: relative;
						margin-left: 0;
						vertical-align: top;
						color: $red;
						display: inline-block;
					    width: 16px;
					    height: 16px;
					    line-height: 16px;
					}
				}
			}

			&:hover > .exploreMore {
		    display: block;
		    opacity: 1;
		    @include transition(all .25s ease-in-out);
		    position: absolute;
		    bottom: 1rem;
		    right: 2rem;
		    padding-right: 0px;

		    .icon-arrow-long {
		    	width: 40px;
			    @include transition(all .25s ease-in-out);
			    height: 12px;
			    line-height: 12px;

			    &:before {
			    	content: " ";
				    display: inline-block;
				    height: 50%;
				    width: 100%;
				    display: block;
				    border-bottom: 2px solid $red;
				    position: absolute;
				    top: 25%;
			    }

			    &:after {
			    	content: " ";
				    width: 8px;
				    height: 8px;
				    margin-left: 8px;
				    border: solid #ed392a;
				    border-width: 0px 2px 2px 0;
				    display: block;
				    left: calc(100% - 18px);
				    padding: 5px;
				    transform: rotate(-45deg);
				    -webkit-transform: rotate(-45deg);
				    position: absolute;
				    top: 19%;
			    }
		    }
			}
		}
	}

	/*----------  Data Sources  ----------*/
	.post-dataSources-container {
		margin: 2rem 0;
		padding: 2rem 0;
		background-color: $off-white;

		.dataSources-content {
			padding-right: 3rem;

			.dataSources-heading { @extend %postFooter-heading; }

			p {
				line-height: 1.69;
				margin-bottom: 0.75rem;
			}

			.dataSources-viewLink a {
				@extend %dataSource-viewLink;

				.icon {
					color: $blue-gray;
					opacity: 0.75;
					@include fontSize(8px);
					margin-left: 0;
				}

				&:hover {
					color: $dark-blue;

					.icon {
						color: $dark-blue;
						@include transition(all .3s ease-in-out);
					}
				}
			}
		}

		/*----------  Cite This Page  ----------*/
		.cite-heading {
			@extend %postFooter-subheading;

			&.noMargin {margin-top: 0;}
		}

		.cite-citation {
			@include fontSize(14px);
			line-height: 1.5;
			color: $gray;
			margin-bottom: 0;
		}

		.btn .icon { margin-left: 0; }
	}

	/*----------  Further Reading  ----------*/
	.post-furtherReading-container {
		margin: 2rem auto;

		.furtherReading-container {
			padding-right: 3rem;

			.furtherReading-heading {
				@extend %postFooter-heading;
			}
		}
	}
}


/*----------  Card Layout Styles  ----------*/
article.post.cardLayout {
	margin-bottom: 3rem;
	margin-left: .5rem;
	margin-right: .5rem;

	/*----------  Post Header  ----------*/
	header.entry-header {
		padding: 1rem;

		@include breakpoint("medium") {
			padding: 2rem 1rem 2rem 2rem;
		}

		.entry-title {
			@extend %post-title;

			a {
				color: $black;

				&:hover {
					color: $red;
				}
			}
		}

	}

	/*----------  Post Thumbnail  ----------*/
	.entry-thumbnail {
		padding: 0;

		img {
			@include breakpoint("medium") {
				height: 100%;
				max-height: 305px;
				width: auto;
				vertical-align: top;
				object-fit: cover;
			}
		}
	}

	/*----------  Post Body  ----------*/
	.entry-content {
		padding: 0rem 1rem 1rem 1rem;

		p {
			@include fontSize(16px);
		}

		@include breakpoint("medium") {
			padding: 2rem;
		}

	}

	.entry-header .entry-title a:hover + .entry-content .learnMore {
		display: block;
	}
}

/*----------  ChinaPower Image  ----------*/
.img-cpp {
	max-width:15px;
	height: auto;
	display: inline-block;
}

/*----------  Overwrite VisualComposer Styles  ----------*/
.vc_row {margin: 0 !important;}
.vc_column_container>.vc_column-inner {padding: 0 !important;}
.vc_col-lg-1, .vc_col-lg-10, .vc_col-lg-11, .vc_col-lg-12, .vc_col-lg-2, .vc_col-lg-3, .vc_col-lg-4, .vc_col-lg-5, .vc_col-lg-6, .vc_col-lg-7, .vc_col-lg-8, .vc_col-lg-9, .vc_col-md-1, .vc_col-md-10, .vc_col-md-11, .vc_col-md-12, .vc_col-md-2, .vc_col-md-3, .vc_col-md-4, .vc_col-md-5, .vc_col-md-6, .vc_col-md-7, .vc_col-md-8, .vc_col-md-9, .vc_col-sm-1, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9, .vc_col-xs-1, .vc_col-xs-10, .vc_col-xs-11, .vc_col-xs-12, .vc_col-xs-2, .vc_col-xs-3, .vc_col-xs-4, .vc_col-xs-5, .vc_col-xs-6, .vc_col-xs-7, .vc_col-xs-8, .vc_col-xs-9 {
	position: static !important;
}