/*=============================
=            Posts            =
=============================*/

/*----------  Single Post Styles  ----------*/
.single-post article.post {

	/*----------  Post Header  ----------*/
	.entry-header {
		padding: 0;

		.featureImg {
			@extend %post-featureImg;

			.entry-title { @extend %post-featureImgTitle; }
		}
	}

	/*----------  Post Content  ----------*/
	.entry-content {
		padding: 0 1rem;
		margin-top: 2rem;

		@include breakpoint("medium") {
			padding: 0;
		}

		/*----------  Full Width Content  ----------*/
		.fullWidthFeatureContent {
			width: 100vw;
			position: relative;
			left: 50%;
			right: 50%;
			margin-left: -50vw;
			margin-right: -50vw;
			text-align: center;
		}

		/*----------  Interactives  ----------*/
		.interactive-heading {
			display: none;
		}
	}

	/*----------  Data Sources  ----------*/
	.post-dataSources-container {
		margin: 2rem 0;
		padding: 2rem 0;
		background-color: $off-white;

		.dataSources-content {
			padding-right: 3rem;

			.dataSources-heading { @extend %postFooter-heading; }

			p {
				line-height: 1.69;
				margin-bottom: 0.75rem;
			}

			.dataSources-viewLink a {
				@extend %dataSource-viewLink;

				.icon {
					color: $blue-gray;
					opacity: 0.75;
					@include fontSize(8px);
					margin-left: 0;
				}

				&:hover {
					color: $dark-blue;

					.icon {
						color: $dark-blue;
						@include transition(all .3s ease-in-out);
					}
				}
			}
		}

		/*----------  Cite This Page  ----------*/
		.cite-heading {
			@extend %postFooter-subheading;

			&.noMargin {margin-top: 0;}
		}

		.cite-citation {
			@include fontSize(14px);
			line-height: 1.5;
			color: $gray;
			margin-bottom: 0;
		}

		.btn .icon { margin-left: 0; }
	}

	/*----------  Further Reading  ----------*/
	.post-furtherReading-container {
		margin: 2rem auto;

		.furtherReading-container {
			padding-right: 3rem;

			.furtherReading-heading {
				@extend %postFooter-heading;
			}
		}
	}
}


/*----------  Card Layout Styles  ----------*/
article.post.cardLayout {
	margin-bottom: 3rem;
	margin-left: .5rem;
	margin-right: .5rem;

	/*----------  Post Header  ----------*/
	header.entry-header {
		padding: 1rem;

		@include breakpoint("medium") {
			padding: 2rem 1rem 2rem 2rem;
		}

		.entry-title {
			@extend %post-title;

			a {
				color: $black;

				&:hover {
					color: $red;
				}
			}
		}

	}

	/*----------  Post Thumbnail  ----------*/
	.entry-thumbnail {
		padding: 0;

		img {
			@include breakpoint("medium") {
				// height: 100%;
			}
		}
	}

	/*----------  Post Body  ----------*/
	.entry-content {
		padding: 0rem 1rem 1rem 1rem;

		p {
			@include fontSize(16px);
		}

		@include breakpoint("medium") {
			padding: 2rem;
		}

	}

	.entry-header .entry-title a:hover + .entry-content .learnMore {
		display: block;
	}
}

/*----------  ChinaPower Image  ----------*/
.img-cpp {
	max-width:15px;
	height: auto;
	display: inline-block;
}

/*----------  Overwrite VisualComposer Styles  ----------*/
.vc_row {margin: 0 !important;}
.vc_column_container>.vc_column-inner {padding: 0 !important;}
#content .wpb_alert p:last-child, #content .wpb_text_column :last-child, #content .wpb_text_column p:last-child, .vc_message_box>p:last-child, .wpb_alert p:last-child, .wpb_text_column :last-child, .wpb_text_column p:last-child {
	margin-bottom: initial !important;
}